name: Update WinBox PKGBUILD
on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/update-winbox-pkgbuild.yml'
      - 'files/data/winbox/PKGBUILD'
  schedule:
    - cron: "0 7 * * *" # daily at 07:00 UTC
  workflow_dispatch:
jobs:
  update-winbox-pkgbuild:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          path: me
      - name: Update WinBox PKGBUILD
        env:
          CLONE_PATH: "${{ github.workspace }}/winbox"
        run: |
          git clone https://aur.archlinux.org/winbox.git "${CLONE_PATH}/winbox"
          cp -r ${CLONE_PATH}/winbox/* "me/files/data/winbox/"
      - name: Open PR if changed
        uses: peter-evans/create-pull-request@v8
        with:
          path: me
          commit-message: 'Update WinBox PKGBUILD to latest version'
          title: 'Update WinBox PKGBUILD'
          reviewers: 'b-'
          body: |
              This PR updates the WinBox PKGBUILD to the latest version from AUR.
              Please review and merge if everything looks good.
